body {
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 480px;
    margin: auto;
    padding: 10px;
}

.container .item {
    margin-bottom: 10px;
    width: 50%;
    float: left;
}
.container .item {
    border: 1px solid #f7f7f7;
}

.container .item img {
    display: block;
    margin: auto;
    max-width: 100%;    
}
.container .item .descriptions {
    padding: 10px;
}
.container .item .descriptions .title {
    text-align: center;
}